ipython==6.0
tornado==4.3
ipykernel==4.9.0 
jupyter==1.0.0
numpy==1.14.1
scipy==1.1.0
matplotlib==2.2.2
pandas==0.22.0
scikit-learn==0.19.2
requests==2.19.1
graphviz==0.10.1
pydotplus==2.0.2
xgboost==0.81
catboost==0.11.0
lightgbm==2.2.2
gensim==3.6.0
nltk==3.4
opencorpora-tools==0.5
pymorphy2==0.8
seaborn==0.9.0
scikit-image-0.14.1
tensorflow==1.12.0
keras==2.2.4
tqdm==4.28.1
pydot==1.4.0
